/* Arquivo CSS para a formatação do site da Padaria*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgba(241, 237, 229, 0.89);
}

nav {
  background-color: rgba(241, 237, 229, 0.89);
  text-align: center;
  padding: 14px;
}

nav ul li {
  display: inline-block;
  padding: 6px;
  transition: ease 0.3s;
  border-radius: 5px;
  background-color: rgb(53, 41, 41);
}

nav ul li:hover {
  background-color: rgb(15, 3, 3);
}

nav ul li a {
  font-family: Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 14pt;
  font-weight: 500;
  color: rgba(241, 237, 229);
  text-decoration: none;
}

nav ul li a:hover {
  color: rgba(241, 237, 229);
}

header {
  height: 450px;
  background-color: rgba(241, 237, 229, 0.89);
  background-image: url("../img/fundo5.jpg");
  background-size: 100%;
  background-position: 0 -240px;
  padding-top: 180px;
}

h1 {
  text-align: center;
  font-family: Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 50pt;
  color: rgba(241, 237, 229);
  text-shadow: 2px 3px 3px rgb(0, 0, 0);
  margin-bottom: 100px;
}

footer {
  height: 120px;
  background-color: rgb(15, 3, 3);
  font-family: Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 15pt;
  color: rgb(255, 255, 255);
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

footer div {
  border: 1px solid yellow;
  width: 50%;
}

#redes ul li {
  display: inline-block;
  padding-left: 13px;
}

#redes ul li a img {
  width: 43px;
  height: 43px;
  /*mudar o ponteiro do mouse para uma mão*/
  cursor: pointer;
  transition: ease 1s;
}

#redes ul li a img:hover {
  transform: scale(1.1);
}

/*---------------------- Início do CSS da home ----------------------*/

h2 {
  font-family: Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 25pt;
  color: rgb(41, 21, 21);
  text-shadow: 0px 1px 0px rgb(0, 0, 0);
  margin: 40px;
  /*borda na parte inferior (bottom) do h2*/
  border-bottom: 1px solid rgb(15, 3, 3);
  width: 630px;
}

#home p {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  font-family: Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 15pt;
  line-height: 20pt;
  text-align: left;
}

#imgHome {
  text-align: center;
}

#imgHome img {
  width: 200px;
  height: 200px;
  margin: 10px;
  border-radius: 200px;
  opacity: 0.9;
  transition: ease 1s;
  cursor: pointer;
}

#imgHome img:hover {
  transform: scale(1.1);
  opacity: 1;
}

/*---------------------- Fim do CSS da home ----------------------*/

/*---------------------- Início do CSS da nossa história ----------------------*/

#historia p {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  font-family: Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 15pt;
  line-height: 20pt;
  text-align: left;
  margin-bottom: 20px;
}

#imgHistoria img {
  width: 450px;
  height: 420px;
  margin-left: auto;
  margin-right: auto;
}

iframe {
  width: 45%;
  height: 400px;
  margin: 20px;
}

/*---------------------- Fim do CSS da nossa história ----------------------*/

/*---------------------- Início do CSS do cardápio ----------------------*/

h3 {
  font-family: Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 22pt;
  color: rgb(41, 21, 21);
  text-shadow: 0px 1px 0px rgb(0, 0, 0);
  margin: 40px;
}

#linha {
  padding: 10px;
  margin: 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  box-shadow: 0px 0px 4px rgb(0, 0, 0);
  justify-content: center;
}

#linha div {
  width: 300px;
  margin: 40px;
  border: 1px solid silver;
}

#linha div img {
  width: 100%;
  height: 290px;
  padding: 20px;
}

#linha div h4 {
  font-family: Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 18pt;
  color: rgb(41, 21, 21);
  text-shadow: 0px 1px 0px rgb(0, 0, 0);
  margin: 10px;
}

#linha div p {
  font-family: Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 15pt;
  font-weight: 600;
  color: rgb(161, 7, 7);
  text-shadow: 0px 0px 1px rgb(0, 0, 0);
  margin: 10px;
}
